{{>layouts/header}}
<form action="/articles/create" method="post">
    <div>
        <input type="text" name="title">
    </div>
    <div>
        <textarea name="content"></textarea>
    </div>
    <button type="submit">제출</button>
</form>
{{>layouts/footer}}